* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e599ec;
    color: rgb(145, 19, 230);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: rgb(157, 7, 245);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.menu a:hover {
    color: rgb(245, 5, 185);
}